[access]
	inheritFrom = All-Projects
[access "refs/*"]
[access "refs/for/refs/*"]
	read = group user/origamitechnologies
	push = group user/origamitechnologies
	label-Code-Review = -2..+2 group user/origamitechnologies
	label-Verified = -1..+1 group user/origamitechnologies
	rebase = group user/origamitechnologies
	removeReviewer = group user/origamitechnologies
	submit = group user/origamitechnologies
[access "refs/heads/*"]
	read = group user/origamitechnologies
	create = group user/origamitechnologies
	push = +force group user/origamitechnologies
	pushMerge = group user/origamitechnologies
[access "refs/tags/*"]
	push = +force group user/origamitechnologies
	pushTag = group user/origamitechnologies
	pushSignedTag = group user/origamitechnologies
[project]
	description = Aajeevika skills project. DDUGKY development and code review.
[receive]
